.home-input{
  border: 1px solid rgba(255, 255, 255, 0.427);
  border-right: none;
}

.home-input:focus{
  outline: none;
}

.home-input::placeholder{
  color: #fff;
}

li a:hover{
  color: #F31D1D;
  transition: 0.3s ease;
}

.accor{
height: 156px;
}

@media (min-width:200px ) and (max-width:1014px) {
  .layerbox{
    box-shadow: 0px -40px 50px 50px  #000c;
    filter: blur(50px);
  }
  .home-input{
    border: 1px solid #f31d1dad;
    
  }
  .home-input::placeholder{
    color: #fff;
    font-weight: 600;
  }
 .input-group input, .input-group button{
    border-radius: 20px;
 }
 .container{
  width: 90% !important;
 }
}