.home-input{
  border: 1px solid rgba(255, 255, 255, 0.427);
  border-right: none;
}

.home-input:focus{
  outline: none;
}

.home-input::placeholder{
  color: #fff;
}

li a:hover{
  color: #F31D1D;
  transition: 0.3s ease;
}

.accor{
height: 156px;
}